.App{
  text-align: center;
}
.App h1{
  padding-top: 40px;
}
.panel{
  display: table;
  margin: auto;
}

.card{
  background-image: url(/static/media/feather.c8d2db8b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100px;
  height: 100px;
  border: solid 1px #b9b9b9;
  margin-right: -1px;
  margin-bottom: -1px;
  cursor: pointer;
  opacity: 0.6;
  display: block;
  float: left;
}
.card.clicked{
  opacity: 1;
}
.card[solved=true],.card[solved=true]:hover,.card[solved=true]:focus{
  outline: none;
  cursor:auto;
  opacity: 1;
}
.card.bird1{background-image: url(imgs/cards/1.small.jpg);}
.card.bird2{background-image: url(imgs/cards/2.small.jpg);}
.card.bird3{background-image: url(imgs/cards/3.small.jpg);}
.card.bird4{background-image: url(imgs/cards/4.small.jpg);}
.card.bird5{background-image: url(imgs/cards/5.small.jpg);}
.card.bird6{background-image: url(imgs/cards/6.small.jpg);}
.card.bird7{background-image: url(imgs/cards/7.small.jpg);}
.card.bird8{background-image: url(imgs/cards/8.small.jpg);}
.card.bird9{background-image: url(imgs/cards/9.small.jpg);}
.card.bird10{background-image: url(imgs/cards/10.small.jpg);}
.card.bird11{background-image: url(imgs/cards/11.small.jpg);}
.card.bird12{background-image: url(imgs/cards/12.small.jpg);}

.card .number{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}
.card:hover{
  opacity: 1;
}

.statusbar{
  position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 20px 10px;
    display: block;
    left: 0px;
    text-align: right;
    background-color: #545454;
    color: white;
}
.statusbar .left{
  float: left;
}
.statusbar .right{
  float: right;
}
.row{
  display: table;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
