.App{
  text-align: center;
}
.panel{
  display: table;
  margin: auto;
}

.card{
  background-image: url(/static/media/feather.c8d2db8b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100px;
  height: 100px;
  border: solid 1px #b9b9b9;
  margin-right: -1px;
  margin-bottom: -1px;
  cursor: pointer;
  opacity: 0.6;
  display: block;
  float: left;
}
.card.clicked{
  background-image: none;
}
.card[solved=true],.card[solved=true]:hover,.card[solved=true]:focus{
  outline: none;
  cursor:auto;
  opacity: 1;
}
.card .number{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}
.card:hover{
  opacity: 1;
}

.row{
  display: table;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
